$primary-color: #d1bfa7; // Бежевый
$text-dark: #2c2c2c;
$text-light: #666;
$bg-soft: #fdfaf7;
$font-serif: 'Playfair Display', serif; // Для заголовков
$font-sans: 'Montserrat', sans-serif;   // Для текста
